<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
      .completed {
        text-decoration: line-through
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div id="app" class="container my-3">
        <div class="input-group mb-3">
          <span class="input-group-text">待辦事項</span>
          <input @keyup.enter="addItem" v-model="newTodo" type="text" class="form-control" placeholder="準備要做的任務"
            id="newTodo">
          <button @click="addItem" class="btn btn-primary" type="button" id="addTodo">新增</button>
        </div>
        <div class="card text-center">
          <ul class="list-group list-group-flush text-left" id="todoList">
            <li v-for="item in filterData" :key="item.id" class="list-group-item">
              <div class="d-flex"> 
                <div class="form-check">
                  <input v-if="item.edit" v-model="tmp" @keyup.enter="doneEdit(item)"
                    @keyup.esc="item.edit = !item.edit" class="form-control" type="text"/>
                  <div v-else>
                    <input @click="item.completed = !item.completed" 
                      :checked="item.completed" id="a" type="checkbox" 
                      class="form-check-input">
                    <label @dblclick="editItem(item)" for="a">{{ item.text }}</label>
                  </div>
                </div>
                <button @click="deleteItem(item)"type="button" class="btn-close ms-auto remove">
                </button>
              </div>
            </li>
          <div class="card-footer d-flex justify-content-between">
            <span>有 <span id="taskCount">{{ todoList.length }}</span> 筆任務</span>
            <div>
              <a @click.prevent="option = 'all'" href="#" class="me-3">全部</a>
              <a @click.prevent="option = 'undone'" href="#" class="me-3">未完成</a>
              <a @click.prevent="option = 'done'" href="#" class="me-3">已完成</a>
              <a @click.prevent="clear" href="#" >清除所有任務</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            newTodo: '',
            todoList: [],
            tmp: '',
            option: 'all',
          }
        },
        methods: {
          addItem() {
            this.todoList.push({
              id: this.todoList.length+1,
              text: this.newTodo,
              completed: false,
              edit: false,
            });
            this.newTodo = '';
          },
          deleteItem(item) {
            const idx = this.todoList.findIndex(obj => obj.id === item.id);
            this.todoList.splice(idx, 1);

          },
          editItem(item) {
            item.edit = !item.edit
            this.tmp = item.text;
          },
          doneEdit(item) {
            if(this.tmp === '')
              return;
            item.edit = !item.edit;
            item.text = this.tmp;
            this.tmp = '';
          },
          clear() {
            this.todoList = [];
          },
        },
        computed: {
          filterData() {
            let filterList;
            if(this.option === 'all')
              filterList = this.todoList;
            else if(this.option === 'done')
              filterList = this.todoList.filter((item) => item.completed);
            else if(this.option === 'undone')
              filterList = this.todoList.filter((item) => !item.completed);
            return filterList;
          }
        }
      }).mount('#app');
    </script>
  </body>

</html>